

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.quizStart {
    padding: 2px;
}

.quizStart h2 {
    font-weight: bolder;
}

#countdown {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    border: 3px solid black;
}

#high {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    border: 3px solid black;
}